/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {height:100%; position:relative;}
	
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {height:100%; position:relative;}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

.logo {background: url(logo2x.jpg) no-repeat;background-size: 212px 303px;}

#slideshow{display: none;}

#header .logo {margin: 0 auto;}

.intro_picture img{display: none;}

#sprite{display: none;}
}