*{
	outline: 1px solid #DA901F;
}

body{
	padding: 0;
	margin: 0;
	font-family:;
	font-size: 14px;
	color: #;
	line-height: 150%;
	text-align: left;
}

/*-----------------  header  ------------------*/

#header-wrap{
	background-color: #5a2a15;
}

#header{
	padding-top: 20px;
	height: 150px;
	background-color: #5a2a15; /*dk brown*/
	text-decoration: none;
	display: block;
}

#logo{
	
}

#header_contact{
	color: #FFF;
}

#nav a{
	text-decoration: none;
}

#nav a:link{color: #FFF;}
#nav a:visited{color: #FFF;}
#nav a:hover{color: #DA901F;} /*yellow*/
#nav a:active{color: #DA901F;}


/*-----------------  slideshow  ------------------*/

#slideshow .container_12{
	background: #F2E6E1 opacity .7;

}

#slideshow img{
	width: 100%;
}